<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
  
  <div class="checkboxes">
    <h3> Your bites are: </h3>
    <%= fields_for :allergies do |allergy| %>
      <% @allergens.each do |allergen| %>
      <div class="checkbox">
        <p>
         <%= allergy.check_box allergen %>
         <%= allergy.label (allergen.to_s + " free") %>
        </p>
      </div>
      <% end%>
    <% end %>
   </div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "links" %>
