<div class="span6">
  <div class="checkboxes">
    <% if !current_page?('/')%>
    <h3>Select the options that match what your bite:</h3>
    <% end %>
    <%= form_tag products_path, :method => 'get' do %>
      <%= fields_for :allergies do |allergy| %>
        <% ApplicationHelper::Allergens.each do |allergen| %>
          <div class="checkbox">
            <p>
            <%= allergy.check_box allergen %>
            <%= allergy.label (allergen.to_s + " free") %>
            </p>
          </div>
        <% end%>
      <% end %>
      <%= submit_tag "Search", :name => nil, :id => "search-submit" %>
    <% end %>
  </div>
</div>