<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  
  <div class="field">
    <%= f.label :store_name %><br />
    <%= f.text_field :store_name %>
  </div>

  <div class="checkboxes">
   <h3> Does the product contain any of these? </h3>
   <%= fields_for :allergies do |allergy| %>
     <% @allergens.each do |allergen| %>
     <div class="checkbox">
       <%= allergy.check_box allergen %>
       <%= allergy.label allergen.to_s %>
     </div>
     <% end%>
   <% end %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
